*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #F4F4FB;
}

nav{
  width: 100%;
  height: 60px;
  box-shadow: 2px 2px 6px rgba(15, 10, 75, 0.2);
  display: flex;
  position: fixed;
  z-index: 2;
  align-items: center;
  padding-left: 1.5%;
  padding-right: 1.5%;
  background-color: white;
  justify-content: space-between;
}

.logo{
  display: flex;
  justify-content: center;
}

.logo i{
  color: #221ECC;
  padding-right: 8px;
}

.logo p{
  color: #221ECC;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  width: 300px;
}

.hi{
  font-size: 15px;
}


.profil{
  color: #221ECC;
  display: flex;
  justify-content: space-between;
  width: 170px;
  height: 18px;
  cursor: pointer;
}

.sidebar{
  width: 19%;
  height: 622px;
  background-color: white;
  box-shadow: 2px 2px 6px rgba(15, 10, 75, 0.2);
  padding-top: 60px;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.foto{
  width: 100px;
  height: 100px;
  border-radius: 500px;
  background-color: #F4F4FB;
  /* background-image: url(naruto.png); */
  justify-content: center;
  margin-left: 28%;
  margin-top: 10%;
  margin-bottom: 8%;
}

.nama{
  font-size: 14px;
  font-weight: bold;
  color: #22195C;
  text-align: center;
  margin-bottom: 5%;
}

.link{
  text-align: center;
  line-height: 50px;
  color: #49524E;
}

/* .link ul .lebel-datamurid li a{
  color: #22195C;
} */

.link ul .lebel-datamurid li a{
  color: #22195C;
}

.link ul li{
  font-size: 13px;
  border-bottom: .3px solid #EAEAEA;
}

.link ul li a{
  text-decoration: none;
  color: #b9b9c8;
}

.link ul li a:hover{
  color: #221ECC;
  transition: .2s;
}

.kotak-kanan{
  position: absolute;
  background-color: white;
  border-radius: 20px;
  padding: 2%;
  left: 300px;
  top: 100px;
  width: 910px;
  /* height: 430px; */
  text-align: center;
  align-items: center;
  box-shadow: 2px 2px 10px 5px #dcdcea;
}

.kotak-kanan p{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #22195C;
  align-items: center;
  padding: 7px 0px 2px 0px;
  /* border-bottom: 2px solid #10227d; */
}

.garis{
  width: 200px;
  height: 2px;
  background-color: #10227d;
  position: absolute;
  left: 350px;
  border-radius: 60px;
  margin-bottom: 20px;
}

h4{
  margin-left: 10px;
  margin-top: 30px;
  padding: 5px;
  background-color: #221ECC;
  width: 100px;
  border-radius: 10px;
}

h4 a{
  color: #ffff;
  text-decoration: none;
}

.tbl-data{
  margin-left: 8px;
  padding-left: 5%;
  margin-top: 3%;
  width: 840px;
  /* font-size: 18px; */
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 25px;
  color: #68676E;
  border: none;
  border-spacing: 0px;
  border-color: #EAEAEA;
  box-shadow: 2px 2px 6px rgba(15, 10, 75, 0.2);
}

/* table .table-pendataan{
    padding-left: 8%;
  margin-top: 3%;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 25px;
  color: #68676E;
} */

th{
  font-size: 14px;
  border-bottom: none;
  /* background-color: #F4F4FB; */
  /* background-color: #c0c0ff; */
  background-color: #d1d1fb;
  color: #22195C;
  box-shadow: 2px 2px 6px rgba(15, 10, 75, 0.2);
}

td{
  /* padding-right: 10px; */
  padding-left: 10px;
  width: 60px;
  text-align: left;
  font-size: 13.5px;
  width: 127px;
}


h4 a i{
  color: #ffff;
  margin-left: 7px;
}

td a i{
  margin-left: 2px;
}

.button-edit{
  font-size: 13px;
  margin-left: 0px;
  text-decoration: none;
  padding: 5px 7px 5px 7px;
  background-color: #24c624;
  color: white;
  border-radius: 10px;
}

.button-hapus{
  font-size: 13px;
  margin-left: 1px;
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  background-color: #ff2020;
  color: white;
  border-radius: 10px;
}

/* .td-pendataanbuku{
  width: 200px;
} */

/* td .td_pendataanbuku{
  width:2000px;
} */